{% load static %}
<!-- Page Preloder -->
  <div id="preloder">
    <div class="loader"></div>
</div>

<!-- Header section -->
<header class="header-section">
    <div class="header-warp">
        <div class="header-social d-flex justify-content-end">
            <p>Follow us:</p>
            <a href="#"><i class="fa fa-pinterest"></i></a>
            <a href="#"><i class="fa fa-facebook"></i></a>
            <a href="#"><i class="fa fa-twitter"></i></a>
            <a href="#"><i class="fa fa-dribbble"></i></a>
            <a href="#"><i class="fa fa-behance"></i></a>
        </div>
        <div class="header-bar-warp d-flex">
            <!-- site logo -->
            <a href="{% url 'index' %}" class="site-logo">
                <img src="{% static 'img/logo.png' %}" alt="">
            </a>
            <nav class="top-nav-area w-100">
                <div class="user-panel">
                    <a href="">Login</a> / <a href="">Register</a>
                </div>
                <!-- Menu -->
                <ul class="main-menu primary-menu">
                    <li><a href="{% url 'index' %}">Home</a></li>
                    <li><a href="{% url 'games' %}">Games</a>
                        <ul class="sub-menu">
                                {% for key,value in genre.items %}
                                <li><a href="{% url 'game_gen' key %}">{{ value }}</a></li>
                                {% endfor %}
                        </ul>
                    </li>
                    <li><a href="{% url 'reviews'%}">Reviews</a></li>
                    <li><a href="{% url 'news' %}">News</a></li>
                    <li><a href="{% url 'contact' %}">Contact</a></li>
                    <li>                    <form action="{% url 'search' %}">
                        <input type="text" name="q" placeholder="Search"  >
                        <input type="submit" value="Search"/>
                    </form>
                    </li>
 
                </ul>
            </nav>
        </div>
    </div>
</header>
<!-- Header section end -->