#header {
    height: 50px;
    background: #501755;
	/* Old browsers */
	/* FF3.6-15 */
	background: -webkit-linear-gradient(45deg, #501755 0%, #2d1854 100%);
	/* Chrome10-25,Safari5.1-6 */
	background: -o-linear-gradient(45deg, #501755 0%, #2d1854 100%);
	background: linear-gradient(45deg, #501755 0%, #2d1854 100%);
	/* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#501755', endColorstr='#2d1854', GradientType=1);
	/* IE6-9 fallback on horizontal gradient */

}

a:link,
a:visited{
    color: #501755;
}

div.breadcrumbs {
    background: #501755;
	
	background: -webkit-linear-gradient(45deg, #501755 0%, #2d1854 100%);

	background: -o-linear-gradient(45deg, #501755 0%, #2d1854 100%);
	background: linear-gradient(45deg, #501755 0%, #2d1854 100%);

	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#501755', endColorstr='#2d1854', GradientType=1);


}

.module h2, .module caption, .inline-group h2 {
    background: #501755;
	background: -webkit-linear-gradient(45deg, #501755 0%, #2d1854 100%);
	background: -o-linear-gradient(45deg, #501755 0%, #2d1854 100%);
	background: linear-gradient(45deg, #501755 0%, #2d1854 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#501755', endColorstr='#2d1854', GradientType=1);


}
#container {
    background: #081624;

	-webkit-box-shadow: 0 0 9px 3px rgba(226, 30, 228, 0.24);
	box-shadow: 0 0 9px 3px rgba(226, 30, 228, 0.24);

}

.module{
	background: #081624;

	-webkit-box-shadow: 0 0 9px 3px rgba(226, 30, 228, 0.24);
	box-shadow: 0 0 9px 3px rgba(226, 30, 228, 0.24);
}