{% extends 'base.html' %}
{% load static %}
{% block title %}| News{% endblock %}

{% block content %}
    <!-- Page top section -->
	<section class="page-top-section set-bg" data-setbg="{% static 'img/page-top-bg/3.jpg' %}">
		<div class="page-info">
			<h2>News</h2>
			<div class="site-breadcrumb">
				<a href="{% url 'index' %}">Home</a>  /
				<span>News</span>
			</div>
		</div>
	</section>
	<!-- Page top end-->


	<!-- Blog page -->
	<section class="blog-page">
		<div class="container">
			<div class="row">
					
				<div class="col-xl-9 col-lg-8 col-md-7">
						<h2>Latest News</h2>
							<br>
						{% if news %}
						{% for news in news %}
						
					<div class="big-blog-item">
						<img src="{{ news.image.url }}" alt="#" class="blog-thumbnail">
						<div class="blog-content text-box text-white">
							<div class="top-meta">{{ news.news_date }} /  in <a href="">Games</a></div>
							<h3>{{ news.title }}</h3>
							<p>{{ news.description | truncatewords:50 }}</p>
							<a href="{% url 'news_single' news.id %}" class="read-more">Read More <img src="{% static 'img/icons/double-arrow.png' %}" alt="#"/></a>
						</div>
					</div>
					{% endfor %}
					{% else %}
						<div class="col">
							<p>No News</p>
						</div>
					{% endif %}
					<div class="row">
							<div class="col-md-12">
									{% if news.has_other_pages %}
									<ul class="pagination">
										{% if news.has_previous %}
										<li class="page-item">
										<a href="?page={{news.previous_page_number}}" class="page-link">&laquo;</a>
										</li>
										{% else %}
										<li class="page-item disabled">
										<a class="page-link">&laquo;</a>
										</li>
										{% endif %}
										{% for i in news.paginator.page_range %}
										{% if news.number == i %}
										<li class="page-item active">
											<a class="page-link">{{i}}</a>
										</li>
										{% else %}
										<li class="page-item">
											<a href="?page={{i}}" class="page-link">{{i}}</a>
										</li>
										{% endif %}
										{% endfor %}
										{% if news.has_next %}
										<li class="page-item">
										<a href="?page={{news.next_page_number}}" class="page-link">&raquo;</a>
										</li>
										{% else %}
										<li class="page-item disabled">
										<a class="page-link">&raquo;</a>
										</li>
										{% endif %}
									</ul>
									{% endif %}
								</div>
							</div>
							
					</div>
				</div>

			</div>
		</div>
	</section>
	<!-- Blog page end-->

{% endblock %}