{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% block title %}| Reviews{% endblock %}

{% block content %}
    <!-- Page top section -->
	<section class="page-top-section set-bg" data-setbg="{% static 'img/page-top-bg/2.jpg' %}">
		<div class="page-info">
			<h2>Reviews</h2>
			<div class="site-breadcrumb">
				<a href="{% url 'index' %}">Home</a>  /
				<span>Reviews</span>
			</div>
		</div>
	</section>
	<!-- Page top end-->


	<!-- Review section -->
	<section class="review-section">
		<div class="container">
				<h2>Latest Reviews</h2>
				<br>
			{% if reviews %}
			{% for review in reviews %}
					<div class="review-item">
							<div class="row">
								<div class="col-lg-4">
									<div class="review-pic">
										<img src="{{ review.image.url }}" alt="">
									</div>
								</div>
								<div class="col-lg-8">
									<div class="review-content text-box text-white">
										<div class="rating">
											<h5><i>Rating</i><span>{{ review.rating }}</span> / 5</h5>
										</div>
										<div class="top-meta">{{review.date | naturalday}}  /  in <a href="">Games</a></div>
										<h3>{{ review.title}}</h3>
										<p>{{ review.detail  | truncatewords:50}}</p>
										<a href="{% url 'review_single' review.id %}" class="read-more">Read More  <img src="{% static 'img/icons/double-arrow.png' %}" alt="#"/></a>
									</div>
								</div>
							</div>
					</div>
			{% endfor %}
			{% else %}
						<div class="col">
							<p>No Reviews</p>
						</div>
			{% endif %}

			<div class="row">
					<div class="col-md-12">
							{% if review.has_other_pages %}
							<ul class="pagination">
								{% if review.has_previous %}
								<li class="page-item">
								<a href="?page={{review.previous_page_number}}" class="page-link">&laquo;</a>
								</li>
								{% else %}
								<li class="page-item disabled">
								<a class="page-link">&laquo;</a>
								</li>
								{% endif %}
								{% for i in review.paginator.page_range %}
								{% if review.number == i %}
								<li class="page-item active">
									<a class="page-link">{{i}}</a>
								</li>
								{% else %}
								<li class="page-item">
									<a href="?page={{i}}" class="page-link">{{i}}</a>
								</li>
								{% endif %}
								{% endfor %}
								{% if review.has_next %}
								<li class="page-item">
								<a href="?page={{review.next_page_number}}" class="page-link">&raquo;</a>
								</li>
								{% else %}
								<li class="page-item disabled">
								<a class="page-link">&raquo;</a>
								</li>
								{% endif %}
							</ul>
							{% endif %}
						</div>
					</div>

		</div>
	</section>
	<!-- Review section end-->


{% endblock %}